# macOS settings file 
.DS_Store

# Contains all your dependencies
node_modules

# Replace as required with your build location
dist

# Deal with environment files
.env
.env.*

# We'll allow an example .env file which can be copied
!.env.example

# Coverage directory used by testing tools
coverage

# Visual Studio Code configuration
.vscode/


# npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*